<app-custom-nav></app-custom-nav>

<div class="full">
    <div class="login">
        <form>
        <div class="form-group" style="margin : 20px">
            <label for="exampleInputEmail1">Account Number</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your account number with anyone else.</small>
        </div>
        <div class="form-group" style="margin : 20px">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" style="margin : 20px" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<div class="non">
<h6>still in development</h6>
</div>
<router-outlet></router-outlet>