<app-custom-nav></app-custom-nav>

<div class="jumbotron">
  <h1 class="display-4">Welcome To XYZ Bank!</h1>
  <p class="lead">Americas Safest Bank For A Decade</p>
  <hr class="my-4">
  <p>Instant, Intelligent & Intuitive. A fully digital bank 24*7 on your phone. Get XYZ account now hurry!!!</p>
  <a class="btn btn-primary btn-lg" routerLink="../register" role="button">{{register}}</a>
</div>

<div class="cardClass">
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem ; height: 14rem; ">
                  <div class="card-body">
                      <h5 class="card-title">SME Banking</h5>
                       <p class="card-text">Grow without borders with the World’s Best Bank for SMEs</p>
                       
                  </div>
         </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem ; height: 14rem; ">
                  <div class="card-body">
                      <h5 class="card-title">Corporate Banking</h5>                       
                       <p class="card-text">Corporate Banking One-stop solution for all your corporate banking needs</p>
                  </div>
         </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem ; height: 14rem; ">
                  <div class="card-body">
                      <h5 class="card-title">Treasures</h5>
                       <p class="card-text">Treasures Explore our comprehensive range of banking and wealth management solutions for Resident and Non-Resident Indians</p>
                  </div>
         </div>
    </div>
  </div>
</div>
</div>

<router-outlet></router-outlet>